.row
  .col-lg-6.col-lg-offset-3
    %h1 Почему вы решили отказатся?
    =form_for @order, html: {role: "form"} do |f|
      .form-inline
        =f.select :circumstances, @selects, {}, {class: 'form-control', style: 'width: 100%; margin-bottom: 10px;'}

      .form-group
        =f.submit 'Отправить', class: 'btn btn-success'
